body {
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
}

div {
    max-width: 80%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 2px 2px 5px #ddd;
}

h1,
h2 {
    color: #222;
    text-align: center;
}

p {
    color: #333;
    line-height: 1.5;
    text-align: center;
}

button {
    padding: 8px 15px;
    background-color: #eee;
    border: 1px solid #ccc;
    cursor: pointer;
    font-family: monospace;
}


